.container{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: cadetblue;
  padding-bottom: 1rem;
}
.input{
  font-size: 1rem;
  width: 100%;
  padding: 8px 10px;
  outline: none;
  border: 1px solid #ccc;
}
.input:focus{
  border: 1px solid blue;
}